<% if messages.length > 0 %>
    <% date_group(messages).each do |group| %>
        <div class="text-center">
            <div class="message-date d-inline-flex">
                <small class="text-muted"><%= month_string(group.first) %></small>
            </div>
        </div>

        <% group.second.each do |message| %>

            <%# 自分が送信したメッセージは右下、受信したメッセージは左下に表示する %>
            <% if sender?(message) %>
                <div class="text-end">
                    <div class="d-inline-flex justify-content-end align-items-end w-50">
                        <small class="text-muted mb-2 me-2"><%= time_string(message.created_at) %></small>
                        <p class= "message"><%= message.comments %></p>
                    </div>
                </div>
            
            <% else %>
                <div class="text-start">
                    <div class="d-inline-flex justify-content-start align-items-end w-50">
                        <p class= "message"><%= message.comments %></p>
                        <small class="text-muted mb-2 me-2"><%= time_string(message.created_at) %></small>
                    </div>
                </div>
            <% end %>

        <% end %>

    <% end %>
<% end %>

<%= render '/messages/form', message: new_message, order: order %>