<%= form_with(model: shop, local: true) do |form| %>
  <%= render 'layouts/errors', object: shop %>

  <div class="form-outline mb-3">
    <%= form.label :name, class: 'mb-2' %>
    <%= form.text_field :name, class:"form-control", autofocus: true, autocomplete: "name", placeholder:"ユーザー名", required: true, maxlength: "30" %>
  </div>

  <%= form.label "エリア（変更する場合のみ）", class: "mb-2" %>

  <div class="d-flex">
    <div class="region me-3">
      <%= form.collection_select :region, Place.select(:region).distinct, :region, :region, {prompt: "地域を選択"}, { class:"form-select mb-3" } %>
    </div>
    <div class="prefecture me-3">
      <%= form.collection_select :prefecture, [], :prefecture, :prefecture, {prompt: ""}, { class:"form-select mb-3", hidden:true } %>
    </div>
    <div class="area">
      <%= form.collection_select :place_id, [], :id, :area, {prompt: ""}, { class:"form-select mb-3", hidden:true } %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.collection_select :shopping_street_id, [], :id, :name, {prompt: ""}, { class:"form-select mb-3", hidden:true } %>
  </div>

  <div class="field">
    <%= form.label :address, class:"mb-2" %>
    <%= form.text_field :address, class:"form-control", autofocus: true, autocomplete: "address", placeholder:"住所", required: true, maxlength: "255" %>
  </div>

  <div class="field">
    <%= form.label :access, class:"mb-2" %>
    <%= form.text_field :access, class:"form-control", autofocus: true, autocomplete: "access", placeholder:"〇〇駅から徒歩5分", required: true, maxlength: "255" %>
  </div>

  <div class="field">
    <%= form.label :introduction, class: "mb-2" %>
    <%= form.text_area :introduction, class:"form-control", autofocus: true, maxlength: "1000", rows:"5" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :cancelable_days_before, class:"mb-2" %>
      <%= form.select :cancelable_days_before, Shop.cancelable_days_befores_i18n.invert, {}, class:"form-select mb-3"%>
    </div>

    <div class="col-md-6 mb-4">
      <%= form.label :private, class:"mb-2 pb-1" %>  
      <div class="form-outline d-flex align-items-center mx-0">
        <%= form.radio_button :private, false, class:"form-check me-2" %>公開
        <%= form.radio_button :private, true, class:"form-check ms-3 me-2" %>非公開   
      </div>
    </div>

  </div>

  <div class="row justify-content-center my-4">
    <%= link_to t('helpers.links.back'), shop_path(shop), class: "btn btn-light text-black col-md-2 mx-2"%>
    <%= form.submit class: "btn btn-default col-md-2 mx-2" %>
  </div>
<% end %>

<div id="placeData" data-place="<%= Place.all.to_json %>"></div>
<div id="shoppingStreetData" data-shopping-street="<%= ShoppingStreet.all.to_json %>"></div>