<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">
            <div class="mt-5 align-items-center">
              <div class="col-12"><h1><%= @area.area %>の店舗一覧</h1></div>
            </div>
            <div class="d-flex align-items-center">
              <div class="me-3"><%= link_to t('helpers.links.back'), areas_path(@q, :'q[prefecture_eq' => "#{@area.prefecture}"), class:"btn btn-primary text-white btn-sm my-3" %></div>
              <%= link_to "絞り込み検索", search_path(@area), class:"btn btn-outline-default btn-sm" %>

              <% if @shopping_streets.present? %>
                <span class="ms-3 me-1">絞り込み中: </span>
                <% @shopping_streets.each do |shopping_street| %>
                    <span class="me-2"><%= shopping_street.name %></span>
                <% end %>
              <% end %>

              <% if @item.present? %>
                <span class="ms-3 me-1">キーワード: </span>
                <span><%= @item %></span>
              <% end %>

            </div>

            <div class="album py-5 table-background">
                <div class="container">

                    <div class="row">

                        <% @shops.each do |shop| %>
                        <div class="col-md-4">
                            <a href="/shops/<%= shop.id %>/top" class="card mb-4">
                                <img class="card-img-top" src=<%= rails_blob_path(shop.image) if shop.image.present? %> alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><%= shop.name %></p>
                                </div>
                            </a>
                        </div>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>