<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">
            <div class="mt-5 align-items-center">
              <div class="col-12"><h1><%= @area.area %>の店舗一覧</h1></div>
            </div>
            <div class="d-flex align-items-center">
              <div class="me-3"><%= link_to t('helpers.links.back'), areas_path(@q, :'q[prefecture_eq' => "#{@area.prefecture}"), class:"btn btn-primary text-white btn-sm my-3" %></div>
              <%= link_to "絞り込み検索", search_path(@area), class:"btn btn-outline-default btn-sm" %>

              <% if @shopping_streets.present? %>
                <span class="ms-3 me-1">絞り込み中: </span>
                <% @shopping_streets.each do |shopping_street| %>
                    <span class="me-2"><%= shopping_street.name %></span>
                <% end %>
              <% end %>

              <% if @item.present? %>
                <span class="ms-3 me-1">キーワード: </span>
                <span><%= @item %></span>
              <% end %>

            </div>


        <% @shops.each do |shop| %>

        <div class="card-form shadow-2-strong card-registration mb-5">
          <div class="card-body p-4 p-md-5">

              <div class="row">
                <div class="col-md-4">
                  <div class="preview-image mb-3">
                    <img src=<%= rails_blob_path(shop.image) if shop.image.present? %>, class="item-image">
                  </div>
                </div>

                <div class="col-md-8">
                  <%= link_to shop.name, top_shop_path(shop), class:"h3" %>
                  <div class="mt-5">
                    <%= shop.introduction %>
                  </div>
                </div>
              </div>

              <% unless shop.sale_items.length == 0 %>
              <hr>
                <h4>特売商品</h4>

                <div class="album py-3">
                    <div class="container">

                        <div class="row">

                            <% sale_items(shop.sale_items).each do |item| %>
                                <div class="col-md-3 card-group">
                                    <a href="/shops/<%= shop.id %>/items/<%= item.id %>" class="card mb-4">
                                        <img class="card-img-top" src=<%= rails_blob_path(item.image) if item.image.present? %> alt="Card image cap">
                                        <div class="card-body align-items-center">
                                            <h5 class="card-text"><%= item.name %></h5>
                                            <div class="text-end">
                                                <small class="text-default fw-bold"><%= item.price %>円</small><br />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>

              <% end %>
              
            </div>
        </div>

      <% end %>

        </div>
    </div>
</div>