<section class="jumbotron text-center" style="background-image:url(<%= rails_blob_path(@shop.image) if @shop.image.present? %>);">
  <div class="container dark-image p-5">
    <h1 class="jumbotron-heading mb-5 text-white"><%= @shop.name %></h1>

    <%= form_with(model: @shop, url: shop_path(@shop), method: 'PUT', local: true) do |form| %>
      <%# file_fieldの名前を変更 %>
      <label class="btn btn-default">写真をアップロード  
        <%= form.file_field :image, style:"display:none" %>
      </label>
    <% end %>

  </div>
</section>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">

            <%# 店舗詳細 %>
            <div class="d-flex align-items-center">
              <h1 class="me-5">店舗詳細
                <% if @shop.private %>
                  <span class="badge rounded-pill btn-default">非公開</span>
                <% else %>
                  <span class="badge rounded-pill bg-success-default">公開中</span>
                <% end %>
              </h1>
              <%= link_to t('helpers.links.edit'), edit_shop_path(@shop), class:"btn btn-default" %>
            </div>
            
            <div class="container my-5">
              <div class="row">
                <div class="col-md-4 d-flex">
                  <ol class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">                  
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= Shop.human_attribute_name :name %></div>
                        <%= @shop.name %>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= Shop.human_attribute_name :place_id %></div>
                        <%= @place.nil? ? "未設定": @place.region %> > <%= @place.nil? ? "未設定": @place.prefecture %> > <%= @place.nil? ? "未設定": @place.area %>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= Shop.human_attribute_name :address %></div>
                        <%= @shop.address %>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= Shop.human_attribute_name :access %></div>
                        <%= @shop.access %>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= Shop.human_attribute_name :cancelable_days_before %></div>
                        <%= cancel_string(@shop.cancelable_days_before) %>
                      </div>
                    </li>
                  </ol>
                </div>

                <div class="shop-intro col-md-8 mb-0" style="height:auto">
                  <h5 class="mb-3 fw-bold">紹介文（トップページに表示されます）</h5>
                  <%= @shop.introduction %>
                </div>

              </div>
            </div>
              
            <%# 商品一覧 %>
            <div class="d-flex mt-4 align-items-center">
              <div class="me-5"><h1>商品一覧</h1></div>
              <div class="mx-2">
                <%= link_to "商品追加", new_item_path(@shop), class: "btn btn-default"%>
              </div>
              <div class="mx-2">
                <%= link_to "在庫編集", stock_items_path(@shop), class: "btn btn-default"%>
              </div>            
            </div>

            <%= render '/items/shop/index', items: @items, shop: @shop %>
            
        </div>
    </div>
</div>

<%= javascript_pack_tag 'shop/application' %>