<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Access:</strong>
  <%= @shop.access %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @shop.introduction %>
</p>

<p>
  <strong>Cancelable days before:</strong>
  <%= @shop.cancelable_days_before %>
</p>

<p>
  <strong>Private:</strong>
  <%= @shop.private %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
