<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @shop.name %></h1>
    <span class="lead text-muted">
        <%= @shop.access %><br />
        <%= @shop.address %>
    </span>
  </div>
</section>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-11 mx-auto">

            <%# 紹介文 %>
            <div class="d-flex shop-intro">
              <%= @shop.introduction %>
            </div>
              
            <%# 商品一覧 %>
            <div class="row mt-4 align-items-center">
              <div class="col-4"><h3>商品一覧</h3></div>
              <div class="col-6">キャンセル：<%= @shop.cancelable_days_before %>日前まで可能</div>
            </div>

            <%= render '/items/index', items: @items %>
            
        </div>
    </div>
</div>