<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center">
      <h1 class="col-xl-9 my-4 text-center"><%= t('.title') %></h1>
      <div class="col-xl-9">

        <div class="my-5">
            <h3>店舗名: <%= @order.shop.name %></h3>
        </div>

        <div class="container table-background">
          <table class="table table-bordered">
              <thead class="thead-order">
                  <tr>
                      <th><%= Item.human_attribute_name :name %></th>
                      <th><%= Item.human_attribute_name :price %></th>
                      <th>数量</th>
                      <th>小計</th>
                  </tr>
              </thead>

              <tbody>
                  <% @order.unique_items.each do |item| %>
                      <tr>
                          <td><%= item.name %></td>
                          <td><%= item.price %>円</td>
                          <td><%= total_amount(item, @order) %></td>
                          <td><%= calculate_subtotal_price(item, @order) %>円</td>
                      </tr>
                  <% end %>
              </tbody>

          </table>
        </div>

        <div class="my-5 me-5 text-end">
            <h5 class="fw-bold text-default">合計金額: <%= calculate_total_price(@order.items)%>円</h5>
        </div>

        <div class="my-5 d-flex">
          <div class="text-start">
            <p><%= Order.human_attribute_name :name %>: <%= @order.name %></p>
            <p><%= Order.human_attribute_name :payment_method %>: <%= @order.payment_method_i18n %></p>
            <p><%= Order.human_attribute_name :delivery_method %>: <%= @order.delivery_method_i18n %></p>
            <p><%= Order.human_attribute_name :deliver_date %>: <%= datetime_string(@order.deliver_date) %></p>          

            <% if shop_user?(current_user) %>
              <%= form_with(model: @order, url: order_path, local: true ) do |form|%>
                <div class="d-flex align-items-center">

                  <% if @order.status == ('canceled' || 'completed') %>
                    <div><%= Order.human_attribute_name :status %>: <%= @order.status_i18n %></div>
                  <% else %>
                    <div><%= Order.human_attribute_name :status %>: </div>
                    <div><%= form.select :status, Order.statuses_i18n.invert.take(4), {}, class:"form-select mx-3 form-select-sm", value: @order.status %></div>
                    <div><%= form.submit "更新する", class:"btn btn-default btn-sm ms-4" %></div>
                  <% end %>

                </div>
              <% end %>
            <% else %>
              <p><%= Order.human_attribute_name :status %>: <%= @order.status_i18n %></p>
            <% end %>
          </div>

          <div class="ms-5">
              <p><%= Order.human_attribute_name :memo %></p>
              <p><%= @order.memo %></p>

              <% if @order.delivery_method == 'delivery' %>
                <p><%= Order.human_attribute_name :address %></p>
                <p><%= @order.address %></p>
              <% end %>
          </div>
        </div>

        <div class="my-5 d-flex">
            <%= link_to t('helpers.links.back'), orders_path, class:"btn btn-outline-secondary me-5" %>
            <% if cancelable?(@order) %>
              <%= link_to t('helpers.links.cancel'), cancel_order_path(@order),method: :put, data: { confirm:'本当にキャンセルしてもよろしいですか？' }, class:"btn btn-outline-default" %>
            <% end %>
        </div>

        <hr />

        <div class="my-5 d-flex align-items-end">
          <h3 class="me-5">メッセージ</h3>
        </div>

        <div class="my-5" id="messages_area">
          <%= render '/messages/show', messages: @messages, new_message: @message, order: @order %>
        </div>

      </div>
    </div>
  </div>
</section>