<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center">
      <h1 class="col-xl-9 my-4"><%= t('.title') %></h1>
      <div class="col-xl-9">

      <% if @carts.length == 0 %>
        <p>カートに入っている商品はありません</p>
      <% end %>

      <% @carts.each do |cart| %>

        <div class="card-form shadow-2-strong card-registration mb-5">
          <div class="card-body p-4 p-md-5">

              <div class="row">
                <div class="col-md-4">
                  <div class="preview-image mb-3">
                    <img src=<%= rails_blob_path(cart.shop.image) if cart.shop.image.present? %>, class="item-image">
                  </div>
                </div>

                <div class="col-md-8">
                  <h3><%= cart.shop.name %></h3>
                  <%# 購入数を変更できるようにする %>
                  <%= form_with(model: cart, url: cart_path(cart), local: true) do |form| %>
                    <ul class="ms-4">

                      <% unique_items(cart).each do |item| %>
                        <div class="ms-2 me-5 mt-3 d-flex justify-content-between align-items-center">
                          <p class="mb-0"><%= item.name %></p>
                          <div class="d-flex align-items-center col-md-5">
                            <input type="hidden", name="cart_id", value=<%= cart.id %>>
                            <input type="hidden", name="item_id", value=<%= cart.id %>>
                            <input type="number", class="form-control me-2", name="counts", value="<%= item_counts(cart, item) %>", max=<%= item.counts %>, min="1">
                            <span>個</span>                    
                            <%= link_to t('helpers.links.destroy'), destroy_item_cart_path(cart, item), method: :delete, data: { confirm: "#{item.name}をカートから削除してもよろしいですか？" }, class:"btn btn-outline-secondary col-md-5 ms-2" %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  <% end %>

                  <div class="text-end me-5 mt-5">
                    <%= link_to "購入手続き", orders_new_cart_path(cart), class:"btn btn-default" %>
                  </div>
                </div>
              </div>
              
          </div>
        </div>

      <% end %>

      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'cart/application' %>