<div class="album py-5">
    <div class="container">

        <div class="row">

            <% items.each do |item| %>
            <div class="col-md-4">
                <a href="/shops/<%= shop.id %>/items/<%= item.id %>" class="card mb-4 box-shadow">
                    <img class="card-img-top" src=<%= rails_blob_path(item.image) if item.image.present? %> alt="Card image cap">
                    <div class="card-body align-items-center">
                        <p class="card-text"><%= item.name %></p>
                        <div class="text-end">
                            <small class="text-default"><%= item.price %>円</small><br />
                            <small class="fw-bold"><%= counts_string(item.counts) %></small>
                        </div>
                    </div>
                </a>
            </div>
            <% end %>

        </div>
    </div>
</div>